<div class="jumbotron">
  <h1>GotoCon Angular Workshop</h1>
  <p>Some exercises for building reusable components</p>
</div>

<div class="row marketing">
    <h2>draggable example</h2>

     <span ing-draggable id="draggable" class="h-cursor-pointer panel panel-bordered h-bg-a">Drag me! ({{offset.x}}, {{offset.y}})</span>
    <!--<div ng-controller="Ctrl">-->
        <!--<span ing-draggable id="draggable" on-drag-begin="startDrag" on-drag="drag" on-drag-end="stopDrag"-->
              <!--class="h-cursor-pointer panel panel-bordered h-bg-a">Drag me! ({{offset.x}}, {{offset.y}})</span>-->
    <!--</div>-->

</div>
